/*footer*/
.fo {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .atext {
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
  }
  .ctext {
    color: white;
    font-size: 13px;
    font-family: sans-serif;
  }
  .ars {
    margin-left: 30px;
  }
  .fixsv {
    margin-top: -85px;
    margin-left: -60px;
  }